body{
    margin:0;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'PT Sans', sans-serif; */
}
.first-section h1{
    font-size: 50px;
    
}
.top-banner{
    
    
    text-align: center;
    color: white;
    background-image: url(images/donation13.jpg);
    background-size: cover;
    margin-bottom: 80px;
}
.first-section{
    background-image: linear-gradient(rgba(255, 255, 255, 0.012),rgba(0, 0, 0, 0.826));
    padding: 10%;  
}

/* /* .author{
    font-size: 10px;
    color: rgba(213, 209, 209, 0.71);  
} */
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(219, 55, 37),rgb(231, 144, 32));
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 15px;
}
.second-section{
    text-align: center;
    width:fit-content;
    align-content: center;
    width:60%;
    margin-bottom: 100px;
}
.header{
    font-size: 40px;
   
}
.card{
    
    margin: 10px 10px 30px 30px;
    /* padding:20px 20px; */
    height: 40px;
    width: 70px;
    padding: 15px 0 0px 0;
    background-color: rgba(207, 199, 199, 0.234);
    border: 2px solid rgb(194, 194, 194);
    border-radius: 5px;
    text-align: center;
    color:dimgrey;
    font-weight: 700;
}
.donation-section{
    display:flex;
    justify-content: center;
    
}
#red{
    background-color: rgba(243, 195, 195, 0.752);
    border: 2px solid rgba(220, 108, 108, 0.913);
    color:crimson;
}
.small-text{
    font-size: 15px;
    color: rgb(206, 197, 197);
}
.text{
    font-size: 10px;
    color:rgba(187, 182, 182, 0.952);
}
.center1{
    margin-left: 37%;
    margin-right:40%; 
    width:800px; 
}

.third-section{
    text-align: center;
}
.center2{
    margin-left: auto;
    margin-right:auto; 
    width:1000px;
}
.plans{
    height: 220px;
    width: 300px;
    margin: 10px 10px 30px 30px;
    padding: 50px 20px 20px 20px;
}
#plan1{
    background-color: powderblue;
}
#plan2{
    background-color: mistyrose;
}
#plan3{
    background-color: lemonchiffon;
}
.plan-section{
    display:flex;
    justify-content: center;
    text-align: left;
    
}













.footer{
    background-color: black;
    text-align: center;
    margin:0;
    padding: 0.6%;
}

#msg{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(210, 43, 76);
    
}